<form class="converterForm">
    <h2 class="converterTitle">Currency converter</h2>
    <div class="currencies">
        <div class="currencyWrapper">
            <app-currency-value name="currencyValue1" (inputEmitter)="inputHandlerLeft()"></app-currency-value>
            <app-currency-name name="currencyName1"></app-currency-name>
        </div>
        <div class="currencyWrapper">
            <app-currency-value name="currencyValue2" (inputEmitter)="inputHandlerRight()"></app-currency-value>
            <app-currency-name name="currencyName2"></app-currency-name>
        </div>
    </div>
</form>