<form class="converterForm">
    <h2 class="converterTitle">Currency converter</h2>
    <div class="currencies">
        <div class="currencyWrapper">
            <app-currency-value name="leftCurrencyAmount" (inputEmitter)="inputHandlerLeft($event)" labelText="I have"
                [value]="leftCurrencyAmount">
            </app-currency-value>
            <app-currency-name name="leftCurrencyName" (changeEmitter)="changeHandlerLeft($event)">
            </app-currency-name>
        </div>
        <div class="currencyWrapper">
            <app-currency-value name="rightCurrencyAmount" (inputEmitter)="inputHandlerRight($event)" labelText="I get"
                [value]="rightCurrencyAmount">
            </app-currency-value>
            <app-currency-name name="rightCurrencyName" (changeEmitter)="changeHandlerRight($event)">
            </app-currency-name>
        </div>
    </div>
</form>